<h2 class="text-center">
  <%= @article.title %>
</h2>
<% if @article.user %>
  <div class="users-container mt-4">
    <div class="card mb-3 text-center mx-auto">
      <small>Created by</small>
      <div class="card-body">
        <%= link_to gravatar_for(@article.user), user_path(@article.user) %>
        <h5 class="card-title">
          <%= link_to @article.user.username, user_path(@article.user) %>
        </h5>
        <small><%= pluralize(@article.user.articles.count, "article") if @article.user.articles %></small>
      </div>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-12">
    <h4 class="text-center">Description</h4>
    <hr>
    <%= simple_format(@article.description) %>
  </div>
</div>
<% if @article.categories.any? %>
<div class="row">
  <div class="col-12">
    <p>Categories: <%= render @article.categories %></p>
  </div>
</div>
<% end %>
<% if logged_in? && (current_user == @article.user || current_user.admin?) %>
  <%= link_to "Edit his article", edit_article_path(@article), class: "btn btn-primary" %>
  <%= link_to "Delete his article",
      article_path(@article),
      method: :delete,
      data: {confirm: "Are you sure?"},
      class: "btn btn-danger"
  %>
<% end %>
<%= link_to "View all Articles", articles_path, class: "btn btn-success" %>
